target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

guli-mall.iml
HELP.md
**/mvnw
**/mvnw.cmd

**/.mvn
**/target/

.idea

**/.gitignore
**/.mvn
**/HELP.md
**/README.md
**/.LICENSE
